# dependencies
node_modules

# build outputs
dist
dist-ssr

# local env and logs
*.local
*.log
logs

# editor and OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# turbo cache
.turbo
